<% layout('globalLayout') -%>
<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
        <div>
            <div class="row">
                <%if (breadcrumbs) {%>
                <%if (breadcrumbs instanceof Array && breadcrumbs.length>0) {%>
                <ol class="breadcrumb">
                    <% for(var b=0; b< breadcrumbs.length; b++) {%>
                    <li class="<%=breadcrumbs[b].class %>">
                        <% if(breadcrumbs[b].url === '') {%>
                        <%=breadcrumbs[b].name%>
                        <% } else {%>
                        <a href="<%=breadcrumbs[b].url %>" class="<%=breadcrumbs[b].class %>"><%=breadcrumbs[b].name %></a>
                        <%}%>
                    </li>
                    <%}%>
                </ol>
                <%}%>
                <%}%>
            </div>

            <%- body %>

        </div>
    </div>
</div>
