<% layout('adminLayout') -%>

<script src="/js/angular_closet.js"></script>
<script type="text/javascript">
    var sitegroupId = <%= sitegroup.id %>;
    var siteId = <%= site.id %>;
    var buildingId = <%= building.id %>;
    var floorId = <%= floor.id %>;
    var devicePath = '/json/devices/floor/<%=floor.id%>';
    var closetPath = '/json/closet/floor/<%=floor.id%>';
    var sortingOrder = 'id';
</script>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#Closets" data-toggle="tab"><div ng-controller="ctrlCloset"><div ng-init="fecthItems()"></div><i class="fa fa-list-alt"></i> Closets ({{countItems()}})</div></a></li>
    <li role="presentation"><a href="#Devices" data-toggle="tab"><div ng-controller="ctrlDeviceListAll"><div ng-init="fecthItems()"></div><i class="fa fa-puzzle-piece"></i> Devices ({{countItems()}})</div></a></li>
</ul>


<div id='content' class="tab-content">
    <div class="tab-pane active" id="Closets">
        <div ng-controller="ctrlCloset">
            <div class="panel panel-default" style="border-top: medium none; border-top-left-radius: 0px; border-top-right-radius: 0px;">
                <div ng-init="fecthItems()"></div>


                <div class="panel-body">
                    <input type="text" ng-model="query" ng-change="search()" class="input-large search-query form-control pull-right" placeholder="Search" autofocus/>
                    <br/><br/>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="name">Name &nbsp;<a ng-click="sort_by('name')"><i
                                            class="glyphicon glyphicon-sort"></i></a></th>
                            <th class="col-sm-1"><a href="#modalAddCloset" role="button" data-toggle="modal"
                                                    class="glyphicon glyphicon-plus-sign text-success"></a></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul class="pager">
                                    <li ng-class="{disabled: currentPage == 0}">
                                        <a href ng-click="prevPage()">« Prev</a>
                                    </li>
                                    <li ng-repeat="n in range(pagedItems.length)"
                                        ng-class="{active: n == currentPage}"
                                        ng-click="setPage()">
                                        <a href ng-bind="n + 1">1</a>
                                    </li>
                                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                        <a href ng-click="nextPage()">Next »</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                            <td><a href="/sitegroup/<%= sitegroup.id%>/site/<%=site.id%>/building/<%=building.id%>/floor/<%=floor.id%>/closet/{{item.id}}">{{item.name}}</a> <span ng-show="item.default" class="label label-primary" style="border-radius: 1em;margin-left: 10px;">default </span> <span ng-show="item.spare" class="label label-warning" style="border-radius: 1em;margin-left: 10px;">spare</span></td>
                            <td>
                                <a href="#modalEditCloset" data-toggle="modal" data-id="{{item.id}}" data-name="{{item.name}}" class="open-EditCloset glyphicon glyphicon-pencil" title="edit"></a>
                                <a href="#modalDeleteCloset" data-toggle="modal" data-id="{{item.id}}" data-name="{{item.name}}" class="open-DeleteCloset glyphicon glyphicon-remove text-danger" title="delete"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="Devices">
        <% include deviceListAll_partial %>
    </div>
</div>


<!--Modals-->
<div class="modal" tabindex="-1" role="dialog" id="modalAddCloset" aria-labelledby="modalAddLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Add a new Closet</h3>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal" action="/sitegroup/<%= sitegroup.id%>/site/<%= site.id%>/building/<%=building.id%>/floor/<%=floor.id%>/closet/create" method="post">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="submitbutton"></label>
                        <div class="col-md-8">
                            <button type="submit" id="submitbutton" class="btn btn-success btn-block">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", ".open-EditCloset", function () {
        var id = $(this).data('id');
        var name = $(this).data('name');
        $(".editClosetFields #id").val( id );
        $(".editClosetFields #name").val( name );
    })
</script>
<div class="modal" role="dialog" id="modalEditCloset" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content col-md-8">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Edit a Closet</h3>
            </div>
            <div class="modal-body">
                <form role="form" id="editForm" class="form-horizontal editClosetFields" action="/sitegroup/<%= sitegroup.id%>/site/<%= site.id%>/building/<%=building.id%>/floor/<%=floor.id%>/closet/update" method="post">
                    <input type="hidden" class="form-control" id="id" name="id"/>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" autofocus/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="submitbutton"></label>
                        <div class="col-md-8">
                            <button type="submit" id="submitbutton" class="btn btn-primary btn-block">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", ".open-DeleteCloset", function () {
        var id = $(this).data('id');
        var name = $(this).data('name');
        $(".deleteClosetFields #id").val( id );
        $(".deleteClosetFields #name").val( name );
    })
</script>
<div class="modal" role="dialog" id="modalDeleteCloset" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content col-md-8">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>You are about to delete a Closet</h3>
            </div>
            <div class="modal-body">
                <form role="form" id="deleteForm" class="form-horizontal" action="/sitegroup/<%= sitegroup.id%>/site/<%= site.id%>/building/<%=building.id%>/floor/<%=floor.id%>/closet/delete" method="post">
                    <div class="form-group">
                        <div class="deleteClosetFields">
                            <input type="hidden" class="form-control" id="id" name="id"/>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" autofocus/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <button type="submit" class="btn btn-danger btn-block">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>