<% layout('adminLayout') -%>

<script type="text/javascript">
    var sitegroupId = <%= sitegroup.id %>;
    var siteId = <%= site.id %>;
    var buildingId = <%= building.id %>;
    var floorId = <%= floor.id %>;
    var closetId = <%= closet.id %>;
    var devicePath = '/json/devices/closet/<%=closet.id%>';
    var closetPath = '/json/closet/<%=closet.id%>';
    var sortingOrder = 'id';
</script>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#Devices" data-toggle="tab"><div ng-controller="ctrlDeviceListAll"><div ng-init="fecthItems()"></div><i class="fa fa-puzzle-piece"></i> Devices ({{countItems()}})</div></a></li>
</ul>

<div id='content' class="tab-content">
    <div class="tab-pane active" id="Devices">
        <% include deviceListAll_partial %>
    </div>
</div>

