<% layout('adminLayout') -%>
</br></br>
<script src="/js/angular_floor.js"></script>
<script type="text/javascript">
    var sitegroupId = <%= sitegroup.id %>;
    var siteId = <%= site.id %>;
    var buildingId = <%= building.id %>;
    var devicePath = '/json/devices/building/<%=building.id%>';
    var closetPath = '/json/closet/building/<%=building.id%>';
    var sortingOrder = 'id';
</script>

<div class="row">
    <div ng-controller="ctrlFloor" class="col-sm-12">
        <div class="panel panel-primary">
                <div ng-init="fecthItems()"></div>

                <div class="panel-heading">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Floors ({{countItems()}})
                </div>

                <div class="panel-body">
                    <input type="text" ng-model="query" ng-change="search()" class="input-large search-query form-control pull-right" placeholder="Search" autofocus/>
                    <br/><br/>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="name">Name &nbsp;<a ng-click="sort_by('name')"><i
                                            class="glyphicon glyphicon-sort"></i></a></th>
                            <th class="col-sm-1"><a href="#modalAddFloor" role="button" data-toggle="modal"
                                                    class="glyphicon glyphicon-plus-sign text-success"></a></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                    <ul class="pager">
                                        <li ng-class="{disabled: currentPage == 0}">
                                            <a href ng-click="prevPage()">« Prev</a>
                                        </li>
                                        <li ng-repeat="n in range(pagedItems.length)"
                                            ng-class="{active: n == currentPage}"
                                            ng-click="setPage()">
                                            <a href ng-bind="n + 1">1</a>
                                        </li>
                                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                            <a href ng-click="nextPage()">Next »</a>
                                        </li>
                                    </ul>
                            </td>
                            </tr>
                        </tfoot>
                        <tbody>
                        <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                            <!-- <td><a href="/sitegroup/<%= sitegroup.id%>/site/<%=site.id%>/building/<%=building.id%>/floor/{{item.id}}">{{item.id}}</a></td> -->
                            <td><a href="/sitegroup/<%= sitegroup.id%>/site/<%=site.id%>/building/<%=building.id%>/floor/{{item.id}}">{{item.name}}</a></td>
                            <td>
                                <a href="#modalEditFloor" data-toggle="modal" data-id="{{item.id}}" data-name="{{item.name}}" class="open-EditFloor glyphicon glyphicon-pencil" title="edit"></a>
                                <a href="#modalDeleteFloor" data-toggle="modal" data-id="{{item.id}}" data-name="{{item.name}}" class="open-DeleteFloor glyphicon glyphicon-remove text-danger" title="delete"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
<br/>

<% include deviceListAll_partial %>

<!--Modals-->
<div class="modal" tabindex="-1" role="dialog" id="modalAddFloor" aria-labelledby="modalAddLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Add a new Floor</h3>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal" action="/sitegroup/<%= sitegroup.id%>/site/<%= site.id%>/building/<%=building.id%>/floor/create" method="post">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" autofocus/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary btn-success btn-block">Add</button>
                            </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).on("click", ".open-EditFloor", function () {
        var id = $(this).data('id');
        var name = $(this).data('name');
        $(".editFloorFields #id").val( id );
        $(".editFloorFields #name").val( name );
    })
</script>
<div class="modal" role="dialog" id="modalEditFloor" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content col-md-8">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Edit</h3>
            </div>
            <div class="modal-body">
                <form role="form" id="editForm" class="form-horizontal" action="/sitegroup/<%= sitegroup.id%>/site/<%= site.id%>/building/<%=building.id%>/floor/update" method="post">
                    <div class="form-group">
                        <div class="editFloorFields">
                            <input type="hidden" class="form-control" id="id" name="id"/>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" autofocus/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <button type="submit" class="btn btn-primary btn-block">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", ".open-DeleteFloor", function () {
        var id = $(this).data('id');
        var name = $(this).data('name');
        $(".deleteFloorFields #id").val( id );
        $(".deleteFloorFields #name").val( name );
    })
</script>
<div class="modal" role="dialog" id="modalDeleteFloor" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content col-md-8">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>You are about to delete</h3>
            </div>
            <div class="modal-body">
                <form role="form" id="deleteForm" class="form-horizontal" action="/sitegroup/<%= sitegroup.id%>/site/<%= site.id%>/building/<%=building.id%>/floor/delete" method="post">
                    <div class="form-group">
                        <div class="deleteFloorFields">
                            <input type="hidden" class="form-control" id="id" name="id"/>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" autofocus/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <button type="submit" class="btn btn-danger btn-block">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>