<% layout('globalLayout') -%>
<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <div class="row">
                <%if (breadcrumbs) {%>
                <%if (breadcrumbs instanceof Array && breadcrumbs.length>0) {%>
                <ol class="breadcrumb">
                    <% for(var b=0; b< breadcrumbs.length; b++) {%>
                    <li class="<%=breadcrumbs[b].class %>">
                        <% if(breadcrumbs[b].url === '') {%>
                        <%=breadcrumbs[b].name%>
                        <% } else {%>
                        <a href="<%=breadcrumbs[b].url %>" class="<%=breadcrumbs[b].class %>"><%=breadcrumbs[b].name %></a>
                        <%}%>
                    </li>
                    <%}%>
                </ol>
                <%}%>
                <%}%>
            </div>

            <div class="row">
                <% if(site){ %>
                <div class="col-12 col-sm-12 col-lg-8">
                    <h1><%=site.name%></h1>
                    <h2>(<%=site.code%>)</h2>
                </div>
                <div class="highlight">
                    <div class="col-6 col-sm-6 col-lg-4 well">
                        <i>Address</i><br/><br/>
                        <address>
                            <%if(site) {%>
                            <strong><%= site.name%></strong><br>
                            <%if(site.address1) {%>
                            <%= site.address1%><br/>
                            <%}%>
                            <%if(site.address2) {%>
                            <%= site.address2%><br/>
                            <%}%>
                            <%if(site.city) {%>
                            <%= site.city%>,
                            <%}%>
                            <%if(site.state) {%>
                            <%= site.state%>
                            <%}%>
                            <%if(site.zipcode) {%>
                            <%= site.zipcode%>
                            <%}%>
                            <%}%>
                        </address>
                    </div><!--Address-->
                </div>
                <%}%>
            </div>

            <%- body %>

        </div>
    </div>
</div>
